body{
    background-color: rgb(27, 27, 27);
    color:white;
    font-size:28px;
}

.container{
    text-align:center;
    padding-top: 10em;
    
}

.pic {
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    min-width: 100px;
    min-height: 100px;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    margin-bottom: 1em;
    
}
